/*---------- HeaderLogo ----------*/
.c-header__logo {
    &-link {
        transition: letter-spacing .3s;
        &:hover {
            letter-spacing: 1px;
        }
    }
}
/*---------- NavigationButton ----------*/
.c-btn {
    &__menu, &__mode {
        cursor: pointer;
        transition: transform .3s;
    }
    &__menu {
        &:hover {
            transform: rotate(-180deg);
        }
        &-icon {
            position: relative;
            &::before,
            &:after {
                content: "";
                position: absolute;
            }
            &::before {
                top: -8px;
                background-color: inherit;
                animation: reset 1s 1;
            }
            &::after {
                top: 8px;
                background-color: inherit;
            }
            &.active {
                background-color: transparent;
            }
            &.active::before {
                top: 0;
                transform: rotate(135deg);
            }
            &.active::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }
        &-icon,
        &-icon::before,
        &-icon::after {
            width: 26px;
            height: 3.5px;
            display: block;
            border-radius: 1.5px;
            background: currentColor;
            transition: transform .5s, top .5s;
        }
    
    }
    &__mode {
        @media screen and (min-width: 600px) {
            &:hover {
                transform: rotate(45deg);
            }
        }
        &-moon, &-sun {
            transition: color .3s, background-color .3s, opacity .3s, visibility .3s;
            &.active {
                opacity: 1;
            }
        }
    }
}
/*---------- Form ----------*/
.c-form {
    &__text {
        border: 2px solid currentColor;
        border-radius: 5px 0px 0px 5px;
        transition: background-color .8s;
        background-color: white;;
        [data-theme="dark"] & {
            background-color: #ddd;
        }
    }
    &__submit {
        border-radius: 0px 5px 5px 0px;
        &-icon {

        }
    }
}
/*---------- Overlay ----------*/
.c-overlay {
    background-color: #333;
    opacity: .05;
}
[data-theme="dark"] .c-overlay {
    background-color: white;
    opacity: .05;
}
/*---------- Button ----------*/
.c-button {
    width: 15rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5rem 1.5rem .7rem;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border-radius: 30px;
    transition: color .5s, background-color .5s;
    &:hover {
        color: var(--background-color);
        background-color: var(--font-color);
    }
}
/*---------- Border ----------*/
.c-border-theme-color {
    border-style: solid;
    border-color: var(--font-color);
}